/* You can add global styles to this file, and also import other style files */
.cursor-pinter{
  cursor: pointer;
}
.bg-footer{
  background-color: #c3cfdd !important;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bg-navbar {
  background-color:#19676b;
}
